@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PUBLIC LIBRARY</h1>
    <p>The place where you can find a free mind.</p>
    <p>Diego Vallejo | 2025</p>
</div>
